# Dependências
node_modules/
package-lock.json

# Variáveis de ambiente
.env

# Logs
logs
*.log
npm-debug.log*

# Diretório de build
/dist

# Diretórios e arquivos de IDE
.idea/
.vscode/
*.swp
*.swo

# Sistema operacional
.DS_Store
Thumbs.db